/* Background Image */
body {
    background-image: url('../graphics/japan.gif');
    background-size: cover;       /* Scale image to cover entire window */
    background-repeat: no-repeat;
    background-position: center;  /* Center the image */
    margin: 0;                    /* Remove default body margin */
    height: 100vh;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.mainContainer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* page Graphics */
.mainContainer img {
    width: auto;
    height: 25vh;
    opacity: 80%;
    filter:grayscale(75%) brightness(50%);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    opacity: 100%;
    filter:grayscale(0%) brightness(100%);
}