/* using this to center the actual grid container itself */
body {
    background-image: url('../graphics/japan.gif');
    background-size: cover;       /* Scale image to cover entire window */
    background-repeat: no-repeat; /* Prevent tiling */
    background-position: center;  /* Center the image */
    margin: 0;                    /* Remove default body margin */
    height: 100vh;                /* Ensure body fills viewport height */
}

#mainContainer {
    border-radius: 12px;
    overflow: hidden; /* clips child containers so that rounding can happen */
    font-size: 1.25em;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: stretch;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    min-height: 90vh;
    width: 50vw;
    background: rgba(0, 0, 0, 0.727);  /* semi-transparent black */
    color: rgb(198, 198, 198);    /* Text color */
}

#category-links {
    padding-top: 1.0em;                  /* space inside the box */
    padding-bottom: .25em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#category-links h1 {
    margin: 0;
}

#category-links ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
}

#category-links a {
    color: rgb(182, 182, 182); /* Link color */
    text-decoration: none; /* Remove underline */
}

#text-box {
    height: 75vh;
    overflow: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    text-align: left;
    padding-left: 50px; /* makes up for scroll bars extra padding */
    padding-right: 40px;
    line-height: 1.1;
}

#text-box ul {
    padding: 0;
}

#text-box h1 {
    text-align: center;
}

#text-box h2 {
    color: rgb(174, 12, 44)
}

#text-box h3 {
    color: rgb(123, 8, 31)
}