.mainContainer {
    display: grid;
    grid-template-columns: auto;
    place-content: center;
    margin-left: auto;
    margin-right: auto;
}

.banner img {
    /* -webkit-mask-image: radial-gradient(
        ellipse at center,
        black 60%,
        transparent 100%
    );

    mask-image: radial-gradient(
        ellipse at center,
        black 60%,
        transparent 100%
    ); */
}

.text-box h1 {
    text-align: center;
}

.text-box h2 {
    margin-left: 2em;
}

.text-box p {
    margin-left: 4em;
    margin-right: 1.5em;
}

.featureList {
    margin-left: 4em;
    margin-right: 1.5em;
}

body {
    margin: 0;
    background-color: black;
    color: rgb(228, 228, 228);
}