/* centers all child content */
.mainContainer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: stretch;
    width: 50%;
}

.banner {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 50vw;
    height: 27vh;
}

/* gives image a gradient */
.banner img {
    /* dramatic fade on sides and bottom */
    -webkit-mask-image: 
        linear-gradient(to right, transparent, black 20%, black 80%, transparent), 
        linear-gradient(to bottom, black 70%, transparent);
    -webkit-mask-composite: destination-in;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    
    mask-image: 
        linear-gradient(to right, transparent, black 20%, black 80%, transparent), 
        linear-gradient(to bottom, black 70%, transparent);
    mask-composite: intersect;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;

    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* centers text box */
.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*width: 50rem;*/
}

/* centers Millenium title */
.text-box h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: .5em;
}

/* creates tabbing */
.text-box h2 {
    text-align: left;
    margin-left: 2em;
    margin-bottom: .5em; /* get rid of space between each section and its paragraph */
}

/* creates tabbing */
.text-box p {
    text-align: left;
    margin-top: 0; /* get rid of space between each section and its paragraph */
    margin-left: 4em;
    margin-right: 4em;
    line-height: 1.1;
}

/* creates tabbing */
.featureList {
    text-align: left;
    margin-top: 0; /* get rid of space between each section and its paragraph */
    margin-left: 2.5em;
    margin-right: 2.5em;
    line-height: 1.1;
}

body {
    margin: 0;
    background-color: black;
    color: rgb(228, 228, 228);
}