#navigationBar {
    margin: 0;  /* keeps navbar at top of screen */
    background-color: #0e1821;
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none; /* Removes bullet points */
    /* Strong fade edges */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%),
                        linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
    -webkit-mask-composite: destination-in;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%),
                 linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
    mask-composite: intersect;
}

#navigationBar a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
}

#navigationBar a:hover {
    background-color: hwb(199 47% 23%);
    color: black;
}

body {
    font-family: Lucida Console;
}